# More details on how to configure the Travis build
# https://docs.travis-ci.com/user/customizing-the-build/

language: java

#Skipping install step to avoid having Travis run arbitrary './gradlew assemble' task
# https://docs.travis-ci.com/user/customizing-the-build/#Skipping-the-Installation-Step
install:
  - true

#Don't build tags
branches:
  except:
    - /^v\d/

stages:
  - build
  - release

jobs:
  include:
    - stage: build
      jdk: openjdk8
      script: ./gradlew build -s
    - stage: build
    - stage: build
      jdk: openjdk11
      script: ./gradlew build -s
    # Build and perform release (if needed)
    - stage: release
      jdk: openjdk8
      script: ./gradlew build -s && ./gradlew ciPerformRelease
